* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #6D9196
}

.heading {
  width: 30em;              
  background-color: #395B64;
  color: white;
  margin: 5em auto 1em auto; 
  border-radius: 0.6em;    
  box-shadow: 0 0.8em 2em rgba(30, 60, 90, 0.4);
  text-align: center;
  padding: 1em 0;
}
.heading h2 {
  color: white;
  background-color: #395B64;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 0.3em;
}
.container {
    box-sizing: content-box;
    width: 30em;
    padding: 2.5em 3em;
    background-color: #395B64;
    margin: 3em auto;
    border-radius: 0.6em;
    box-shadow: 0 0.8em 1.8em rgba(0, 0, 0, 0.5);

    position: relative;
}
.game {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}
.stats {
    text-align: center;
    color: #E7F6F2;
    margin-bottom: 1.2em;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}
.stats span {
    font-weight: 600;
}
.card_container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
}
.card-front,
.card-back {
    position: absolute;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #E7F6F2;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
    font-size: 60px;
}
.card-front {
    background-color: #A5C9CA;
    font-size: 2.8em;
    font-weight: 600;
}
.card-back {
    background-color: #dfe8e5;
    transform: rotateY(180deg);
}
.card_container.flipped .card-front {
    transform: rotateY(180deg);
}
.card_container.flipped .card-back {
    transform: rotateY(0deg);
}
.controls {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #395B64; 
  z-index: 5;
}
button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
}

#stop {
    font-size: 1.1em;
    display: block;
    margin-top: 10em;
    margin: 1em auto;
    background-color: #fff;
    color: #111;
}
.controls button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}
.hide {
    display: none;
}
#result {
    text-align: center;
    color: #fff;
}
#result h2 {
    font-size: 2.5em;
}
#result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
}